.carrousel {
    overflow: scroll;
    /* Este nos permite tener la navegacion de imagines
    en forma horizontal */
    padding-left: 30px;
    width: 100%;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}

.carrousel__container {
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
}

.carrousel__container:hover .carrousel-item {
    opacity: 0.3;
}
  
.carrousel__container:hover .carrousel-item:hover {
    transform: scale(1.5);
    opacity: 1;
}